<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center">
      <div class="col-* justify-content-center">
        <div class="game">
          <h1>Tic-Tac-Toe</h1><br>
          <div id=board class="border border-white">
            <div class="square" (click)="onclick('bt1')">{{bt1}}</div>
            <div class="square" (click)="onclick('bt2')">{{bt2}}</div>
            <div class="square" (click)="onclick('bt3')">{{bt3}}</div>
            <div class="square" (click)="onclick('bt4')">{{bt4}}</div>
            <div class="square" (click)="onclick('bt5')">{{bt5}}</div>
            <div class="square" (click)="onclick('bt6')">{{bt6}}</div>
            <div class="square" (click)="onclick('bt7')">{{bt7}}</div>
            <div class="square" (click)="onclick('bt8')">{{bt8}}</div>
            <div class="square" (click)="onclick('bt9')">{{bt9}}</div>
          </div>
          <br>
          <h2>{{status}}</h2>
          <audio id="clickAudio" muted="muted">
            <source src="../assets/jump.mp3" type="audio/mpeg">
          </audio>
          <audio id="gameoverAudio" muted="muted">
            <source src="../assets/mario_game_over.mp3" type="audio/mpeg">
          </audio>
          <audio id="winAudio" muted="muted">
            <source src="../assets/mario_winner.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
    </div>
  </div>
</body>

</html>